<div class="row">
  <aside class="col-md-4">
    <%= form_for @workout, url: user_workouts_path(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :program %>
      <div class="radio">
        <%= f.radio_button :program, "5/3/1" %>
        <%= f.label :program, "5/3/1" %>
        <br><%= f.radio_button :program, "Mad Cow 5x5" %>
        <%= f.label :program, "Mad Cow 5x5" %>
      </div>
        
      <%= f.label :exercise %>
      <div class="radio">
        <%= f.radio_button :exercise, "Bench Press" %>
        <%= f.label :exercise, "Bench Press" %>
        <br><%= f.radio_button :exercise, "Squat" %>
        <%= f.label :exercise, "Squat" %>
        <br><%= f.radio_button :exercise, "Deadlift" %>
        <%= f.label :exercise, "Deadlift" %>
      </div>

      <!--<% if @workout.program.eql? "5/3/1"%>-->
      <!--  <%= f.label :training_max, "1 Rep Training Max" %>-->
      <!--<% elsif @workout.program.eql? "Mad Cow 5x5"%>-->
      <!--  <%= f.label :training_max, "5 Rep Training Max" %>-->
      <!--<% else %>-->
        <%= f.label :training_max%>
      <!--<% end %>-->
      <%= f.number_field :training_max, in:0...1000%>

      <%= f.submit "Create my workout", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>