<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% @user.workouts.each do |workout| %>
        <b> <%= workout.program %> for <%= workout.exercise %>
        <% if current_user?(@user) %>
            <%= link_to "edit", edit_user_workout_path(@user.id, workout.id)%>              
            <%= link_to "delete", user_workout_path(@user.id, workout.id), 
              method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
        </b>
        <% if workout.program.eql? "5/3/1"%>
        <div>
          <br><b>Week 1: 3x5+ Week</b>
          <br> <%= ((0.4 * workout.training_max)/5).round * 5 %> x 5
          <br> <%= ((0.5 * workout.training_max)/5).round * 5  %> x 5
          <br> <%= ((0.6 * workout.training_max)/5).round * 5  %> x 3
          <br> <%= ((0.65 * workout.training_max)/5).round * 5  %> x 5
          <br> <%= ((0.75 * workout.training_max)/5).round * 5  %> x 5
          <br> <%= ((0.85 * workout.training_max)/5).round * 5  %> x 5+
          <br> <%= ((0.65 * workout.training_max)/5).round * 5  %> AMRAP
          <br><b>Week 2: 3x3+ Week</b>
          <br> <%= ((0.4 * workout.training_max)/5).round * 5 %> x 5
          <br> <%= ((0.5 * workout.training_max)/5).round * 5  %> x 5
          <br> <%= ((0.6 * workout.training_max)/5).round * 5  %> x 3
          <br> <%= ((0.7 * workout.training_max)/5).round * 5  %> x 3
          <br> <%= ((0.8 * workout.training_max)/5).round * 5  %> x 3
          <br> <%= ((0.9 * workout.training_max)/5).round * 5  %> x 3+
          <br> <%= ((0.7 * workout.training_max)/5).round * 5  %> AMRAP
          <br><b>Week 3: 5/3/1+ Week</b>
          <br> <%= ((0.4 * workout.training_max)/5).round * 5 %> x 5
          <br> <%= ((0.5 * workout.training_max)/5).round * 5  %> x 5
          <br> <%= ((0.6 * workout.training_max)/5).round * 5  %> x 3
          <br> <%= ((0.75 * workout.training_max)/5).round * 5  %> x 5
          <br> <%= ((0.85 * workout.training_max)/5).round * 5  %> x 3
          <br> <%= ((0.95 * workout.training_max)/5).round * 5  %> x 1+
          <br> <%= ((0.75 * workout.training_max)/5).round * 5  %> AMRAP
          <br><b>Week 4: Deload Week</b>
          <br> <%= ((0.4 * workout.training_max)/5).round * 5 %> x 5
          <br> <%= ((0.5 * workout.training_max)/5).round * 5  %> x 5
          <br> <%= ((0.6 * workout.training_max)/5).round * 5  %> x 3
        </div>
        <% elsif workout.program.eql? "Mad Cow 5x5"%>
          <% for i in 1..4 %>
            <div>
              <br><b>Week <%= i %> </b>
              <br><b>Day 1</b>
              <br> <%= ((0.6 * workout.training_max)/5).round * 5 %> x 5
              <br> <%= ((0.7 * workout.training_max)/5).round * 5  %> x 5
              <br> <%= ((0.8 * workout.training_max)/5).round * 5  %> x 5
              <br> <%= ((0.9 * workout.training_max)/5).round * 5  %> x 5
              <br> <%= ((1 * workout.training_max)/5).round * 5  %> x 5
              <br><b>Day 2</b>
              <br> <%= ((0.6 * workout.training_max)/5).round * 5 %> x 5
              <br> <%= ((0.7 * workout.training_max)/5).round * 5  %> x 5
              <br> <%= ((0.8 * workout.training_max)/5).round * 5  %> x 5
              <br> <%= ((0.8 * workout.training_max)/5).round * 5  %> x 5
              <br><b>Day 3</b>
              <br> <%= ((0.6 * workout.training_max)/5).round * 5 %> x 5
              <br> <%= ((0.7 * workout.training_max)/5).round * 5  %> x 5
              <br> <%= ((0.8 * workout.training_max)/5).round * 5  %> x 5
              <br> <%= ((0.9 * workout.training_max)/5).round * 5  %> x 5
              <br> <%= ((1.025 * workout.training_max)/5).round * 5  %> x 3
              <br> <%= ((0.8 * workout.training_max)/5).round * 5  %> x 8
            </div>
          <% end %>
        <% end %>
      <% end %>
    </section>
    <% if current_user?(@user) %>
      <%= link_to "Create Workout", new_user_workout_path(@user), class: "btn btn-lg btn-primary" %>
    <% end %>
  </aside>
</div>